{% if page.guests %}
<div class="grid-x grid-margin-x">
  <div class="cell">
    <h2>
      {% if page.guests.size == 1 %}
        {% if page.guests_gender_agreement == "female" %}
          {{ site.data.layout.episode_guests_female_singular_title }}
        {% else %}
          {{ site.data.layout.episode_guests_male_singular_title }}
        {% endif %}
      {% else %}
        {% if page.guests_gender_agreement == "female" %}
          {{ site.data.layout.episode_guests_female_plural_title }}
        {% else %}
          {{ site.data.layout.episode_guests_male_plural_title }}
        {% endif %}
      {% endif %}
    </h2>
  </div>

  {% include person.html persons=page.guests person_class="guest" asset_prefix=asset_prefix escape_biography=True %}
</div>
{% endif %}
