{% if page.recording.recorded %}
  {% if page.recording.audio_file %}
    {% assign player_class = "episode-audio" %}
    {% assign player_include = "episode/audio.html" %}
    {% assign player_parameter = page.recording.audio_file %}
  {% elsif page.recording.soundcloud_id %}
    {% assign player_class = "episode-soundcloud" %}
    {% assign player_include = "episode/soundcloud.html" %}
    {% assign player_parameter = page.recording.soundcloud_id %}
  {% endif %}

  {% if page.recording.audio_file or page.recording.soundcloud_id %}
  <div class="cell {% if page.toc %}medium-6{% else %}medium-12{% endif %} medium-order-2 {{ player_class }}">
    {% include {{ player_include }} parameter=player_parameter %}

    {% if page.recording.youtube_id %}
    <p>
      {{ site.data.layout.episode_recording_youtube_view_text }}
      <a href="https://www.youtube.com/watch?v={{ page.recording.youtube_id }}">YouTube</a>.
    </p>
    {% endif %}
  </div>
  {% endif %}

  {% if page.recording.soundcloud_id and page.toc %}
  <div class="cell medium-6 medium-order-1 episode-toc">
    <p>{{ site.data.layout.episode_recording_index_description }}</p>

    <ol class="episode-toc-list">
      {% for entry in page.toc %}
      <li>
        <span aria-hidden="true">{{ entry.instant }}</span>
        <a
          href="?{{ site.data.layout.episode_skip_query_param }}={{ forloop.index }}"
          class="episode-toc-list-skip"
          data-index="{{ forloop.index }}"
          data-instant="{{ entry.instant }}"
          data-seek="0">
          {{ entry.title | escape_once }}</a>
      </li>
      {% endfor %}
    </ol>
  </div>
  {% endif %}
{% endif %}
