<!DOCTYPE html>
<html lang="{{ site.language }}">
  {% include head.html %}

  <body class="{{ page.layout }}">
    {% include nav.html %}

    <main>
      {{ content }}
    </main>

    <section id="{{ site.data.layout.about_section_id }}" class="grid-container content about">
      {% include about.html %}
    </section>

    <section class="grid-container fluid footer">
      {% include footer.html %}
    </section>

    {% if site.data.contact_form.validation_messages or site.data.layout.episode_skip_query_param %}
    <script>
      var contactFormMessagesTexts = {};

      {% for item in site.data.contact_form.validation_messages %}
      contactFormMessagesTexts["{{ item[0] }}"] = "{{ item[1] }}";
      {% endfor %}

      var episodeSkipQueryParamName = "{{ site.data.layout.episode_skip_query_param }}";
    </script>
    {% endif %}

    <script
      src="https://code.jquery.com/jquery-3.3.1.min.js"
      integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
      crossorigin="anonymous">
    </script>

    <script src="/assets/js/nav.js"></script>
    <script src="/assets/js/form.js"></script>

    {% if page.layout == "episode" %}
    {% if page.recording.audio_file or page.recording.soundcloud_id %}
      {% if page.recording.soundcloud_id %}
      {% unless page.recording.audio_file %}
      <script src="https://w.soundcloud.com/player/api.js"></script>
      {% endunless %}
      {% endif %}
      <script src="/assets/js/episode.js"></script>
    {% endif %}
    {% endif %}

    {% if site.google_analytics_tracking_id %}
    <script async src="https://www.googletagmanager.com/gtag/js?id={{ site.google_analytics_tracking_id }}"></script>
    <script>
      window.dataLayer = window.dataLayer || [];

      function gtag() {
        dataLayer.push(arguments);
      }

      gtag("js", new Date());
      gtag("config", "{{ site.google_analytics_tracking_id }}");
    </script>
    {% endif %}
  </body>
</html>
