.episode {
  &-cover {
    @include episode-cover();
  }

  &-description {
    @extend %main-content;

    h2 {
      margin-top: rem-calc(20);
      font-size: font-size("h3");

      @media #{$xlarge-down} {
        margin-top: rem-calc(10);
        font-size: font-size("h3", "small");
      }
    }
  }

  &-toc {
    &-list {
      list-style-type: none;
      margin-left: 0;

      &-skip {
        transition-property: padding, background-color, color;
        transition-duration: 0.3s;
        transition-timing-function: ease-in;

        &.active {
          padding: rem-calc(0 5 0 5);
          background-color: $link-color;
          color: $color-white;
          text-decoration: none;
          transition-timing-function: ease-out;
        }
      }
    }
  }

  &-soundcloud {
    margin-bottom: rem-calc(20);
  }

  &-agenda {
    .icon {
      margin-right: rem-calc(5);
    }
  }
}

body.episode .episode-cover {
  margin-top: rem-calc(60);
}

#episode {
  &-soundcloud {
    width: 100%;
    height: rem-calc(160);
    border: 0;
  }
}
